<p><%= link_to twonk.name, twonk %> of <%= twonk.location %> - <%= pluralize(twonk.for_votes.size, "for vote") %>, <%= pluralize(twonk.against_votes.size, "against vote") %> - <%= pluralize(twonk.vote_count, "vote") %></p>
