<h2><%= @twonk.name %> is a twonk!</h2>
<small><%= pluralize(@twonk.vote_count, "vote") %></small>

<h3><%= pluralize(@twonk.for_votes.size, "person") %> think <%= @twonk.name %> is really a twonk...</h3>
<%= link_to "Do you think #{@twonk.name} is a twonk too?", new_twonk_vote_path(@twonk) %>
<table class='for-votes'>
    <%= render :partial => @twonk.for_votes %>
</table>
<h3><%= pluralize(@twonk.against_votes.size, "person") %>
  <%= @twonk.against_votes.size > 1 || @twonk.against_votes.size == 0 ? "beg" : "begs" %> to differ...</h3>
<%= link_to "Do you think #{@twonk.name} is NOT a twonk?", new_twonk_vote_path(@twonk, :positive => false) %>
<table class='against-votes'>
    <%= render :partial => @twonk.against_votes %>
</table>
