<p><%= link_to h(truncate(twonk.name)), twonk %> of <%= h(twonk.location) %> - <%= twonk.for_votes.size %> / <%= twonk.against_votes.size %> (<%= twonk.votes_count %>) <%= link_to "Accept", accept_admin_twonk_path(twonk), :method => :put %> <%= link_to "Delete", admin_twonk_path(twonk), :method => :delete, :confirm => "Are you sure you want to delete this twonk?" %></p>
