<% form_for [@twonk, @vote] do |f| %>
  <div>
    <%= f.label "positive", "For or Against" %>
  </div>
  <div>
    <%= f.label "vote_positive_true", "For" %>
    <%= f.radio_button "positive", true, :class => 'check' %>
  </div>
  <div>
    <%= f.label "vote_positive_false", "Against" %>
    <%= f.radio_button "positive", false, :class => 'check' %>
  </div>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div>
    <%= submit_tag "Save", :class => 'submit' %>
  </div>
<% end %>
