<% @title = "Creating a new vote for #{@twonk.name}" %>
<h1>
  <% if @vote.positive? %>
  You think <%= @twonk.name %> is a twonk!
<% else %>
  You think <%= @twonk.name %> is not a twonk!
<% end %>
</h1>
<% form_for [@twonk, @vote] do |f| %>
<%= error_messages_for :vote %>
  <p>You may tell the world why you think this person is <%= "not" unless @vote.positive? -%> a twonk if you feel the need, or you can click the button right away!</p>
  <p>You can come back later and change your comment, and your vote, if you change your mind.</p>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div>
    <%= submit_tag "Vote!", :class => 'submit' %>
  </div>
<% end %>
