<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <%= stylesheet_link_tag "style" %>
    <title>Twonklist.com - <%= @title %></title>
  </head>
  <body>
    <div id='menu'>
      <b><%= link_to "Nominate New Twonk!", new_twonk_path %></b> | 
      <%= link_to "About", about_path %>
    </div>
    <div id="header">
      <%= link_to image_tag((params[:controller] == 'twonks' && params[:action] == 'index') ? "twonklist.jpg" : "twonklist_small.jpg"), root_path %><br />
    </div>
    <div id="main">
      <% unless flash.empty? %>
        <div id="flashes">
          <% for message in flash %>
            <div class='flash' id='<%= message.first %>'><%= message.last  %></div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <p id="footer">
      Created by <%= link_to('Ryan Bigg', 'http://frozenplague.net/') %>, styled by <%= link_to('Brenton Fletcher', 'http://i.bloople.net') %>.
    </p>
</body>
</html>
